<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Online color scheme generator for monotone and mixed colors">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ColorPimp</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="app" ng-app="app" ng-controller="appCtrl">
      <div class="nav">
        <h1>ColorPimp</h1>
        <p>
          Online color scheme generator for monotone and mixed colors.
        </p>
        <div class="input-block">
          <label for="base-color">Base Color</label>
          <input type="text" ng-model="base" id="base-color">
        </div>
        <div class="input-block checkbox">
          <label><input type="checkbox" ng-model="monotone"> Monotone</label>
        </div>
        <div class="input-block">
          <label for="secondary-color">Secondary Color</label>
          <input type="text" ng-model="secondary" id="secondary-color">
        </div>
        <div class="input-block slider">
          <ul>
            <li>Darken</li>
            <li>Lighten</li>
          </ul>
          <input type="range" ng-model="light" min="-1" max="1" step="0.01">
          <div class="reset">
            <span ng-click="light=0">Reset</span>
          </div>
        </div>
        <div class="input-block">
          <label for="color-count">Number of Colors</label>
          <input type="text" ng-model="colorCount" id="color-count">
        </div>
        <div class="input-block buttons">
          <button ng-click="reset()">Reset</button>
          <button class="primary" ng-click="makeScheme()">Make Scheme</button>
        </div>
      </div>
      <div class="content">
        <div color-block="{{color}}" ng-style="{background: color}" ng-repeat="color in colors track by $index">
          {{color}}
        </div>
        <div id="console"></div>
      </div>
    </div>

    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>

    <!-- App scripts -->
    <script src="scripts/main.js"></script>
  </body>
</html>
