<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ColorPimp</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="app" ng-app="app" ng-controller="appCtrl">
      <div class="nav">
        <h1>Color</h1>
        <p>
          A free online color scheme generator for monotone and mixed colors.
        </p>
        <div class="input-block">
          <label for="base-color">Base Color</label>
          <input type="text" ng-model="base" id="base-color">
        </div>
        <div class="input-block checkbox">
          <label><input type="checkbox" ng-model="monotone">Monotone</label>
        </div>
        <div class="input-block">
          <label for="secondary-color">Secondary Color</label>
          <input type="text" ng-model="secondary" id="secondary-color">
        </div>
        <div class="input-block slider">
          <ul>
            <li>Darken</li>
            <li>Lighten</li>
          </ul>
          <input type="range" ng-model="light" min="-1" max="1" step="0.01">
          <div class="reset">
            <span ng-click="light=0">Reset</span>
          </div>
        </div>
        <div class="input-block">
          <label for="color-count">Number of Colors</label>
          <input type="text" ng-model="colorCount" id="color-count">
        </div>
        <div class="input-block">
          <button ng-click="reset()">Reset</button>
          <button ng-click="makeScheme()">Make Scheme</button>
        </div>
      </div>
      <div class="content">
        <div color-block="{{color}}" ng-style="{background: color}" ng-repeat="color in colors track by $index">
          {{color}}
        </div>
        <div id="console"></div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/tinycolor/tinycolor.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
